include mixins

doctype
html( lang="en" )
    head
        title Hudson API Base
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Hudson API ' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
        

    body(style="padding-bottom:10rem;")
        .container
          +nav("Hudson API Base", "Topics")
            +nav_item_dropdown( "#" )( label="Dropdown")
                +nav_header Topics
                +nav_divider
                +nav_item( "https://hudson-server.herokuapp.com/hudson/topic/T1" ) Topic T1
                +nav_item( "https://hudson-server.herokuapp.com/hudson/topic/T2" ) Topic T2
                +nav_item( "https://hudson-server.herokuapp.com/hudson/topic/T3" ) Topic T3
                +nav_item( "https://hudson-server.herokuapp.com/hudson/topic/T4" ) Topic T4
                +nav_item( "https://hudson-server.herokuapp.com/hudson/topic/T5" ) Topic T5
            
          .row.justify-content-center
            .col-md-12.text-center
              span.display-1.d-block
              .mb-4.lead= topic
                table(style='width:80%', border='1')
                    tr
                        th Table No.
                        th User Name
                        th Idea
                for item in topics
                    tr
                        td= item.tableID
                        td= item.topUserName
                        td= item.topUserIdea
                else
                    tr
                        td Sorry No items found
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )